---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { Card, CardGrid, Icon } from '@astrojs/starlight/components';

const frontmatter = {
  title: 'ุตูุญู ุงุตู',
  description: 'ุจู ูุณุชูุฏุงุช ุดุฑฺฉุช ูุง ุฎูุด ุขูุฏุฏ',
  template: 'splash',
  hero: {
    title: 'ุจู ูุณุชูุฏุงุช ุดุฑฺฉุช ูุง ุฎูุด ุขูุฏุฏ',
    tagline: 'ุงูุฌุง ููู ฺุฒูุง ุฑุง ฺฉู ุจุฑุง ุดุฑูุน ฺฉุงุฑ ุจุง ูุญุตููุงุช ู ุฎุฏูุงุช ูุง ูุงุฒ ุฏุงุฑุฏุ ูพุฏุง ุฎูุงูุฏ ฺฉุฑุฏ.',
    actions: [
      {
        text: 'ุดุฑูุน ุณุฑุน',
        link: '/getting-started/',
        variant: 'primary',
      },
      {
        text: 'ูุฑุฌุน',
        link: '/reference/',
        variant: 'secondary',
      },
    ],
  },
  banner: {                                                                  
    content : "ุจู ูุณุฎู ฺฉ ุงุฒ ูุณุชูุฏุงุช ุฏุงุฎู ุฎูุด ุขูุฏุฏ. ๐"                       
    },                                                                            
  next: false,
};
---

<StarlightPage frontmatter={frontmatter}>
  <CardGrid>
    <Card title="ุฑุงูููุง ุดุฑูุน ุณุฑุน" icon="rocket">
      <p>ุจุง ุฏูุจุงู ฺฉุฑุฏู ุฑุงูููุง ฺฏุงู ุจู ฺฏุงู ูุงุ ุฏุฑ ฺฉูุชุฑู ุฒูุงู ููฺฉู ุดุฑูุน ุจู ฺฉุงุฑ ฺฉูุฏ.</p>
    </Card>
    <Card title="ูุณุชูุฏุงุช ุฌุงูุน" icon="document">
      <p>ุจู ุทูุฑ ุนูู ุฏุฑ ูุณุชูุฏุงุช ูุง ฺฉุงูุด ฺฉูุฏ ู ููู ฺุฒ ุฑุง ุฏุฑ ููุฑุฏ ูฺฺฏ ูุง ู ุนููฺฉุฑุฏูุง ุจุงููุฒุฏ.</p>
    </Card>
    <Card title="ูุฑุฌุน API" icon="puzzle">
      <p>ุจู ุฏูุจุงู ุงุทูุงุนุงุช ุฏูู ุฏุฑ ููุฑุฏ API ูุง ูุณุชุฏุ ุงูุฌุง ูฺฉุงู ููุงุณุจ ุงุณุช.</p>
    </Card>
  </CardGrid>
</StarlightPage>
